<!-- start:Left Menu -->
<div id="left-menu">
    <div class="sub-left-menu scroll">
        <ul class="nav nav-list">
            <li><div class="left-bg"></div></li>
            <li class="time">
                <h1 class="animated fadeInLeft">21:00</h1>
                <p class="animated fadeInRight">Sat,October 1st 2029</p>
            </li>
            <li class="active ripple">
                <a href="/Dashboard" class="nav-header">
                    <span class="fa-bar-chart fa"></span> Dashboard
                </a>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-handshake-o fa"></span> Receiving
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                 <ul class="nav nav-list tree">
                    <li><a href="/Receiving">Receiving List</a></li>
                    <li><a href="/ReceivingReport">Receiving Report</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa fa-ship"></span> Shipping
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                 <ul class="nav nav-list tree">
                    <li><a href="/Shipping">Shipping List</a></li>
                    <li><a href="/ShippingReport">Stuffing Report</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa fa-home"></span> Delivering
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                <ul class="nav nav-list tree">
                    <li><a href="/Delivering">Delivering List</a></li>
                    <li><a href="/DeliveringReport">Delivering Report</a></li>
                </ul>
            </li>

            <li class="ripple">
                <a class="tree-toggle nav-header"><span class="fa fa-money"></span> 
                    Accounting
                <span class="fa-angle-right fa right-arrow text-right"></span> </a>
                <ul class="nav nav-list tree">
                    <li><a href="#">General Ledger</a></li>
                    <li><a href="#">Chart of Accounts</a></li>
                    <li><a href="#">Trial Balance </a></li>
                    <li><a href="#">Balance Sheet</a></li>
                    <li><a href="#">Accounts Receivable</a></li>
                    <li><a href="#">Accounts Payable</a></li>
                    <li><a href="#">Point of Sale</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa fa-list-alt"></span> Master
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                <ul class="nav nav-list tree">
                    <li><a href="/carrier">Carrier</a></li>
                    <li><a href="/driver">Driver</a></li>
                    <li><a href="/rack">Rack</a></li>
                    <li><a href="/model">Model</a></li>
                    <li><a href="/type">Type</a></li>
                    <li><a href="/city">City</a></li>
                    <li><a href="/customer">Customer</a></li>
                    <li><a href="/pickuparea">Pickup Area</a></li>
                    <li><a href="/trucker">Trucker</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- end: Left Menu -->