
@{
    ViewData["Title"] = "Carrier";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div id="master-carrier">
    <div class="panel box-shadow-none content-header bg-white">
        <div class="panel-body">
            <div class="col-md-12 text-primary">
                <h1>Database Plan</h1>
            </div>
        </div>
    </div>

    <div class="col-md-12 padding-0">
        <div class="col-md-12">
            <div class="panel">
               
            </div>
        </div>
    </div>
</div>
