
@{
    ViewData["Title"] = "Stuffing";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<div class="panel box-shadow-none content-header bg-white">
    <div class="panel-body">
        <div class="col-md-6">
            <h3 class="animated fadeInLeft"><i class="fa fa-home text-primary fa-2x"></i>Delivering List</h3>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <button type="button" class="btn mtop20">
                    <span class="fa fa-plus-circle text-primary"></span> New
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 padding-0">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="col-md-12 padding-0" style="padding-bottom:20px;">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="...">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" 
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div>
                <div class="table-responsive" style="width:100%">
                    <table class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="min-width:130px">Shipping Number</th>
                                <th style="min-width:100px">Unload Date</th>
                                <th style="min-width:130px">Unload Time Start</th>
                                <th style="min-width:130px">Unload Time End</th>
                                <th style="min-width:85px">Sent Date</th>
                                <th style="min-width:85px">Send Time</th>
                                <th style="min-width:120px">Driver Name</th>
                                <th style="min-width:120px">License Plate</th>
                                <th style="min-width:175px">Customer Received Time</th>
                                <th style="min-width:120px">Receiver Name</th>
                                <th style="min-width:100px">Km Arrival</th>
                                <th>Incident</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                                <td>13</td>
                                <td>23/Jan/2017</td>
                                <td>6:30</td>
                                <td>9:30</td>
                                <td>23/Jan/2017</td>
                                <td>9:35</td>
                                <td>Eky</td>
                                <td>DB 1250 XX</td>
                                <td>9:40</td>
                                <td>Opan</td>
                                <td>5</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>23/Jan/2017</td>
                                <td>6:30</td>
                                <td>9:30</td>
                                <td>23/Jan/2017</td>
                                <td>9:35</td>
                                <td>Eky</td>
                                <td>DB 1250 XX</td>
                                <td>9:40</td>
                                <td>Opan</td>
                                <td>5</td>
                                <td>-</td>
                                <td>-</td>
                            </tr><tr>
                                <td>13</td>
                                <td>23/Jan/2017</td>
                                <td>6:30</td>
                                <td>9:30</td>
                                <td>23/Jan/2017</td>
                                <td>9:35</td>
                                <td>Eky</td>
                                <td>DB 1250 XX</td>
                                <td>9:40</td>
                                <td>Opan</td>
                                <td>5</td>
                                <td>-</td>
                                <td>-</td>
                            </tr><tr>
                                <td>13</td>
                                <td>23/Jan/2017</td>
                                <td>6:30</td>
                                <td>9:30</td>
                                <td>23/Jan/2017</td>
                                <td>9:35</td>
                                <td>Eky</td>
                                <td>DB 1250 XX</td>
                                <td>9:40</td>
                                <td>Opan</td>
                                <td>5</td>
                                <td>-</td>
                                <td>-</td>
                            </tr><tr>
                                <td>13</td>
                                <td>23/Jan/2017</td>
                                <td>6:30</td>
                                <td>9:30</td>
                                <td>23/Jan/2017</td>
                                <td>9:35</td>
                                <td>Eky</td>
                                <td>DB 1250 XX</td>
                                <td>9:40</td>
                                <td>Opan</td>
                                <td>5</td>
                                <td>-</td>
                                <td>-</td>
                            </tr><tr>
                                <td>13</td>
                                <td>23/Jan/2017</td>
                                <td>6:30</td>
                                <td>9:30</td>
                                <td>23/Jan/2017</td>
                                <td>9:35</td>
                                <td>Eky</td>
                                <td>DB 1250 XX</td>
                                <td>9:40</td>
                                <td>Opan</td>
                                <td>5</td>
                                <td>-</td>
                                <td>-</td>
                            </tr><tr>
                                <td>13</td>
                                <td>23/Jan/2017</td>
                                <td>6:30</td>
                                <td>9:30</td>
                                <td>23/Jan/2017</td>
                                <td>9:35</td>
                                <td>Eky</td>
                                <td>DB 1250 XX</td>
                                <td>9:40</td>
                                <td>Opan</td>
                                <td>5</td>
                                <td>-</td>
                                <td>-</td>
                            </tr><tr>
                                <td>13</td>
                                <td>23/Jan/2017</td>
                                <td>6:30</td>
                                <td>9:30</td>
                                <td>23/Jan/2017</td>
                                <td>9:35</td>
                                <td>Eky</td>
                                <td>DB 1250 XX</td>
                                <td>9:40</td>
                                <td>Opan</td>
                                <td>5</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6" style="padding-top:20px;">
                    <span>showing 0-10 of 30 items</span>
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true" class="fa fa-caret-left"></span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true" class="fa fa-caret-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
