.point {
    cursor: pointer
}

.form-control {
    border-radius: 0
}

.btn {
    min-width: 115px;
    border-radius: 0
}

.control-label {
    font-weight: normal;
}

.animated.fadeInLeft .fa-2x{
    margin-right : 20px;
}

.mtop20{
    margin-top : 20px;
}

#sidebar-wrapper {
    background-color: white;
    box-shadow: 0 7px 16px darkgray, 0 4px 5px darkgray;
}
    #sidebar-wrapper .form-horizontal {
        width: 200px;
        margin-left: 25px;
        margin-top: 20px;
    }
